ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 40px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 200px;
  margin-right: 20px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

ion-input h3{
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
h3 {
  margin: 0;
  font-weight:normal ;
  font-size: 15px;
}

p {
  line-height: 22px;
}
